<!DOCTYPE html>
<html lang="zh-CN" class="crt crt-nav-on crt-nav-type1 crt-main-nav-on crt-sidebar-on crt-layers-2 desktop crt-desktop">
	<%- partial('_partial/head') %>
	<%
		var page_class = 'category';
		if(is_post()){
			page_class = 'single';
		}
	%>
	<body class="<%- page_class %>">
		<div class="crt-wrapper">
			<%- partial('_partial/header') %>
			<div id="crt-container" class="crt-container">
				<div class="crt-container-sm">
					<div class="crt-paper-layers">
						<div class="crt-paper clearfix">
							<div class="crt-paper-cont paper-padd clear-mrg">
								<%- body %>
							</div>
						</div>
					</div>
				</div>
				<%- partial('_partial/sidebar') %>
				<%- partial('_partial/footer') %>
				<%- partial('_partial/background') %>
			</div>
	</body>

</html>
